Conhencendo Python, scripts básicos

In [6]:
print("Hello World!!", "Bem-vindos a EPB.", sep='+',  end=' ' )
print("Hey")

Hello World!!+Bem-vindos a EPB. Hey

In [7]:
a = "Hello World!!"

In [13]:
nome = input('Digite seu nome: ')

Digite seu nome: Guilherme

In [17]:
idade = input("Qual a sua idade? ")

Qual a sua idade? 37

In [20]:
print("Olá",nome, ",", idade, "anos")

Olá Guilherme , 37 anos

In [27]:
entrada = "Olá " + nome + ", " + idade + " anos"

In [34]:
print(entrada)

Olá Guilherme, 37 anos

In [36]:
int(idade) + 3

40

In [38]:
idade = int(idade)

In [40]:
idade + 3

40

Exemplo input temperatura

K = 273.15 + C

F = C*9/5 + 32

In [41]:
tempC = input("Digite Temperatura em C: ")

Digite Temperatura em C: 30

In [45]:
resultado = "Temperatura: " + tempC + " *C"

In [46]:
print(resultado)

Temperatura: 30 *C

In [48]:
tempK = 273.15 + float(tempC)

In [55]:
tempF = float(tempC)*9/5 + 32

In [56]:
tempF

86.0

Exemplo MRU

s = s_i + v_i * t + a/2*t ** 2

In [66]:
a = 4
s_i = 12
v_i = 20

In [62]:
t = float( input("tempo(s): ") )

tempo(s): 30

In [67]:
s = s_i + (v_i*t) + a*(t**2)/2

In [77]:
print("Seu s final é:", "2"+"5", "m")

Seu s final é: 25 m

In [74]:
"Seu s final é: " + str(s) + "m"

'Seu s final é: 2412.0m'

Variáveis bool e condicionais

A = Adenina

C = Citosina

G = Guanina

T = Timina

In [87]:
100 == 100
100 > 101
100 < 101
100 >= 101
100 <= 101
100 != 100

False

In [126]:
base = input("Digite uma base:")

if (base == 'a') or (base == 'A'):
  print("A base é uma Adenina!")
elif (base == 't') or (base == 'T'):
  print("A base é uma Timina!")
elif (base == 'c') or (base == 'C'):
  print("A base é uma Citosina!")
elif (base == 'g') or (base == 'G'):
  print("A base é uma Guanina!")
else:
  print("Outra base foi digitada!")

Digite uma base:g
A base é uma Guanina!

In [133]:
base = input("Digite uma base:").lower()

if (base == 'a'):
  print("A base é uma Adenina!")
elif (base == 't'):
  print("A base é uma Timina!")
elif (base == 'c'):
  print("A base é uma Citosina!")
elif (base == 'g'):
  print("A base é uma Guanina!")
else:
  print("Outra base foi digitada!")

Digite uma base:G
A base é uma Guanina!

In [144]:
temp = float ( input("Digite a temperatura da água em C: ") )
atm  = input("Everest (e) ou nível do mar (m)")

if atm == 'm':

  if temp > 100:
    print('vapor')
  elif temp < 0:
    print('sólida')
  else:
    print('líquida')

elif atm == 'e':

  if temp > 72:
    print('vapor')
  elif temp < -28:
    print('sólida')
  else:
    print('líquida')

else:
  print('Digite m ou e.')

Digite a temperatura da água em C: 100
Everest (e) ou nível do mar (m)p
Digite m ou e.

Loops While e For

In [154]:
i = True
fita_p = ''
comp = ''

while i:
  base = input("Digite uma base:").lower()

  if (base == 'a'):
    print("A base é uma Adenina!")
    fita_p = fita_p + 'a'
    comp = comp + 't'
  elif (base == 't'):
    print("A base é uma Timina!")
    fita_p = fita_p + 't'
    comp = comp + 'a'
  elif (base == 'c'):
    print("A base é uma Citosina!")
    fita_p = fita_p + 'c'
    comp = comp + 'g'
  elif (base == 'g'):
    print("A base é uma Guanina!")
    fita_p = fita_p + 'g'
    comp = comp + 'c'
  elif base == 'chega':
    print('Saindo do programa')
    i = False
  else:
    print("Outra base foi digitada!")
    comp = comp + 'N'
    fita_p = fita_p + base

print("Saímos do while!! yay")

print("A fita original é: ", fita_p)
print("A fita complementar é: ", comp)

Digite uma base:a
A base é uma Adenina!
Digite uma base:g
A base é uma Guanina!
Digite uma base:c
A base é uma Citosina!
Digite uma base:j
Outra base foi digitada!
Digite uma base:t
A base é uma Timina!
Digite uma base:g
A base é uma Guanina!
Digite uma base:k
Outra base foi digitada!
Digite uma base:chega
Saindo do programa
Saímos do while!! yay
A fita original é:  agcjtgk
A fita complementar é:  tcgNacN

In [135]:
c
# str.lower('A')

In [136]:
# 'A'.lower()

In [115]:
('a' == 'a') or ('A' == 'A')

True